{
  "plugins": [
    "babel-plugin-transform-custom-element-classes"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "ie": "11"
        }
      }
    ]
  ]
}
