{
  "plugins": [
    [
      "transform-builtin-classes",
      {
        "globals": ["HTMLElement"],
        "logIfPatched": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 10"
          ]
        }
      }
    ]
  ],
}
